###############################################################################
# InfraLab Code Owners
###############################################################################

# Default owner
* @Kestrall

###############################################################################
# Infrastructure
###############################################################################

terraform/ @Kestrall
ansible/ @Kestrall
docker/ @Kestrall
monitoring/ @Kestrall

###############################################################################
# Application
###############################################################################

app/ @Kestrall

###############################################################################
# Documentation
###############################################################################

docs/ @Kestrall
README.md @Kestrall

###############################################################################
# GitHub
###############################################################################

.github/ @Kestrall
